.cardContainer {
    /* background-color: white; */
    display: flex;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    /* background-color: #bf6bf3; */
    border-radius: 20px;
    background: linear-gradient(290deg, white -20%, #9200ec);
}

.img {
    height: 50%;
}

.imgAndText {
    flex-direction: column;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 2px;
    color: black;
}

.backText {
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 2px;
    color: black;
}
