.linkContainer {
    margin-top: 25%;
    margin-left: 20%;
    margin-right: 20%;
    /* background-color: black; */
    /* display: grid; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-bottom: 20%; */
    height: 80vh;
}

.linkTitle {
    color: white;
    font-size: 2.3vw;
    /* text-align: center; */
}

.linkAndBody {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background-color: black; */
    margin-bottom: 3%;
    /* align-items: center; */
}

.indivLinks {
    display: flex;
    background: #232d3a;
    box-shadow: 2px 0px 0px 0px #9200ec;
    border-radius: 20px;
    width: 20%;
    height: 20vh;
    transition: all .5s ease;
    /* margin-bottom: 3%; */
    align-items: center;
    justify-content: center;
}

.indivLinks:hover {
    box-shadow: 20px 0px 0px 0px #9200ec;
    /* width: 50%; */
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
}

.indivImage {
    height: 90%;
    /* width: 70%; */
    /* margin-left: 9%; */
    /* align-self: center; */
    transition: all .4s ease;
}

.indivImage:hover {
    cursor: pointer;
    margin-top: -3%;
}

.bodyText {
    opacity: 0%;
    color: white;
    /* display: none; */
    /* background-color: black; */
    text-align: center;
    font-size: 1.5vw;
    margin-left: 5%;
    transition: opacity .3s ease;
    /* display: none; */
    /* display: flex; */
}
