.navBar {
    display: flex;
    /* margin: 3%; */
    margin-left: 15%;
    margin-right: 15%;
    /* background-color: black; */
    /* position: sticky;
    top: 0; */
}

.navBarName {
    transition: all .3s ease-in;
    margin-top: -7%;
    color: white;
    width: 100%;
    /* font-size: 110%; */
    font-size: 1vw;
    align-self: center;
}

.navLinksAndImage {
    margin-top: 1%;
    display: inherit;
    /* background-color:green; */
    width: 100%;
    height: 6vh;
}

.navLinks {
    /* background-color: aqua; */
    /* justify-content: space-between; */
    /* position: absolute; */
    display: flex;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: flex-end; */
    /* width: 80%; */
    /* height: 60px; */
}

.linkStyle {
    transition: all .3s ease-in;
    margin: 1vw;
    color: white;
    font-size: 1vw;
    /* font-size: 10px; */
    background-color: transparent;
    border-width: 0;
    font-weight: 700;
    /* align-self: center; */
    margin-top: -18%;
    /* margin-top: 3.5%; */
}

.faceImage {
    transition: all .3s ease-in;
    display: flex;
    /* margin: 2px; */
    margin-right: 10px;
    height: 5vh;
    align-self: center;
    /* border-radius: 40px; */
    margin-top: -10%;
}