.navBar {
    display: flex;
    /* margin: 3%; */
    margin-left: 15%;
    margin-right: 15%;
    /* background-color: black; */
    /* position: sticky;
    top: 0; */
}

.navBarName {
    transition: all .8s ease-in;
    /* margin-top: -4%; */
    color: white;
    width: 100%;
    /* font-size: 110%; */
    font-size: calc(1vw + .5vh);
    align-self: center;
    opacity: 0%;
}

.navLinksAndImage {
    /* margin-top: 1%; */
    /* background-color: black; */
    display: flex;
    /* background-color:green; */
    width: 100%;
    /* padding: 2%; */
    height: 5vw;
}

.navLinks {
    /* background-color: aqua; */
    /* justify-content: space-between; */
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkStyle {
    transition: all .8s ease-in;
    margin: 1vw;
    color: white;
    font-size: calc(1vw + .5vh);
    background-color: transparent;
    border-width: 0;
    font-weight: 700;
    opacity: 0%;
}

.faceImage {
    transition: all .3s ease-in;
    display: flex;
    /* margin: 2px; */
    margin-right: 10px;
    height: 3vw;
    align-self: center;
    opacity: 0%;
    /* border-radius: 40px; */
}