.cardContainer {
    /* background-color: white; */
    display: flex;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13vw;
    width: 13vw;
    /* background-color: #bf6bf3; */
    border-radius: 20px;
    background: linear-gradient(135deg, white -25%, #9200ec);
    /* box-shadow: 4px 4px 0px 2px #232d3a; */
}

.img {
    height: 7vw;
}

.imgAndText {
    flex-direction: column;
    font-size: larger;
    font-weight: 900;
    letter-spacing: 2px;
    color: white;
}

.frontBackText {
    font-size: 1vw;
    font-weight: bolder;
    letter-spacing: 2px;
    color: white;
}
